#temp {
    display: block;
    text-align: center;
    line-height: 500px;

    font-size: 30px;
    color: #f8c0c1;
    letter-spacing: 2px;
}


@media (max-width: 1000px) and (min-width: 450px){

}

@media (max-width: 450px) and (min-width: 300px){
    #temp {
        font-size: 20px;
        margin-left: 20px;
    }
}
