content {
    position: relative;
    display: block;
    margin-top: 70px;
}

#content-header {
    display: block;
    margin-left: 150px;

    font-size: 50px;
    color: #f8c0c1;
    letter-spacing: 5px;
}

#temp {
    display: block;
    text-align: center;
    line-height: 500px;

    font-size: 30px;
    color: #f8c0c1;
    letter-spacing: 2px;
}
