content {
    position: relative;
    display: block;
    margin-top: 70px;
}

#content-header {
    display: block;
    margin-left: 150px;

    font-size: 50px;
    color: #f8c0c1;
    letter-spacing: 5px;
}

#temp {
    display: block;
    text-align: center;
    line-height: 500px;

    font-size: 30px;
    color: #f8c0c1;
    letter-spacing: 2px;
}


@media (max-width: 1000px) and (min-width: 450px){
    content {
        margin: 0;
        padding-bottom: 80px;
        top: 80px;
        left: 0px;
    }

    #content-header {
        margin-left: 100px;
    }


}

@media (max-width: 450px) and (min-width: 300px){
    content {
        position: relative;
        margin: 160px 0 0 0;
        top: -80px;
        /* left: 35px; */
    }

    #content-header {
        font-size: 35px;
        letter-spacing: 3px;
        margin-left: 75px;
    }

    #temp {
        font-size: 20px;
        margin-left: 20px;
    }
}
