content {
    position: relative;
    margin-top: 150px;
    display: block;
}


#content-intro {
    position: relative;
    display: block;
    left: 170px;
}


#content-icon {
    width: 200px;
    height: 200px;
    text-align: center;
}


#content-img {
    /* max-height: 10%;
    max-width: 10%; */

    opacity: 0.9;

    height: 120px;
    width: 120px;

    margin-bottom: 10px;

    border: 10px solid white;
    box-shadow: 0 0 3px #dddddd;
}

#content-name {
    font-size: 32px;
    color: #f8c0c1;
    letter-spacing: 3px;
}




#content-desc {
    position: relative;
    left: 20px;
    top: 10px;

    text-align: left;
    line-height: 150%;
    width: 200px;
    height: 200px;

    font-size: 14px;
    color: #f8c0c1;
    letter-spacing: 1px;
}



@media (max-width: 750px) and (min-width: 300px){

    content {
        left: 0;
        margin: 220px 0 0 0;
    }

    #content-main {
        font-size: 14px;
        letter-spacing: 2px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #content-name {
        font-size: 40px;
    }
    #content-img {
        max-width: 30%;
        max-height: 30%;
    }
}
