/* Left bar: brief information */

#content-intro {
    position: absolute;
    display: block;
    left: 170px;
    top: 100px;

    /* width: 200px; */
    /* height: 200px; */
}


#content-icon {
    width: 200px;
    height: 200px;
    text-align: center;
}


#content-img {
    /* max-height: 10%;
    max-width: 10%; */

    opacity: 0.9;

    height: 120px;
    width: 120px;

    margin-bottom: 10px;

    border: 10px solid white;
    box-shadow: 0 0 3px #eeeeee;
}

#content-name {
    font-size: 32px;
    color: #f8c0c1;
    letter-spacing: 3px;
}

#content-desc {
    position: relative;
    left: 20px;
    top: 12px;

    text-align: left;
    line-height: 150%;
    width: 200px;
    height: 200px;

    font-size: 14px;
    color: #f8c0c1;
    letter-spacing: 1px;
}



/* Right bar: detailed display of skills */

#content-main {
    position: relative;
    display: block;
    left: 400px;
    margin-top: 80px;

    width: 45%;
    height: 100%;
}

block {
    position: relative;
    display: block;
    left: 40px;
}

cate {
    position: relative;
    left: 50px;
    margin: 20px 0 20px 0;
    display: block;

    color: #f8c0c1;
    font-size: 25px;
}


.item {
    width: 80%;
    position: relative;
    display: block;
    margin-bottom: -5px;

    height: 50px;
    left: 100px;
}

.name {
    color: #7c9aab;
    font-size: 15px;
}

.progress {
    position: absolute;
    display: inline-block;
    top: 5px;
    right: -100px;
    /* margin-left: 15px; */

    width: 100%;
    height: 5px;
    background-color: #eeeeee;
}

.bar {
    position: absolute;
    display: inline-block;
    /* top: 10px; */


    height: 5px;
    background-color: #f8c0c1;
}



@media (max-width: 750px) and (min-width: 300px){

    content {
        left: 0;
        margin: 220px 0 0 0;
    }

    #content-main {
        font-size: 14px;
        letter-spacing: 2px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #content-name {
        font-size: 40px;
    }
    #content-img {
        max-width: 30%;
        max-height: 30%;
    }
}
