content {
    position: relative;
    margin-top: 150px;
    display: block;
}

#content-name {
    display: block;
    text-align: center;

    font-size: 56px;
    color: #f8c0c1;
    letter-spacing: 8px;
}

#content-main {
    display: block;

    text-align: center;
    line-height: 150%;

    margin-top: 20px;
    font-size: 20px;
    color: #f8c0c1;
    letter-spacing: 5px;
}

#content-icon {
    display: block;
    text-align: center;

    width: 100%;
}

#content-img {
    max-height: 15%;
    max-width: 15%;
    opacity: 0.9;

    margin-bottom: 20px;
}

@media (max-width: 750px) and (min-width: 300px){

    #content-main {
        font-size: 14px;
        letter-spacing: 2px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #content-name {
        font-size: 40px;
    }
    #content-img {
        max-width: 30%;
        max-height: 30%;
    }
}
