content {
    display: block;
    position: relative;
    margin-top: 100px;

    overflow-y: scroll;
    overflow-x: hidden;
}

#content-header{
    display: block;

    margin-left: 150px;
    font-size: 56px;
    color: #f8c0c1;
    letter-spacing: 8px;
}


photolist{
    letter-spacing: 1px;
    display: block;
    font-size: 15px;
    position: relative;
    top: 50px;
    left: 270px;
}

slide{
    transition: all 0.2s;
    display: block;
    height: 300px;
    width: 70%;
}

photo{
    /*overflow: hidden;*/
    height: 300px;
    display: flex;
    /*background-size: cover;
    background-position: center;*/
}

.image{
    transition: all 0.2s;
    height: 300px;
    width: 1000px;
    background-size: cover;
    background-position: center;
}

.image:hover{
    width: 15000px;
}


/*photo img{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}*/

descrip{

    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: saturate(200%) blur(10px);
    /*padding-top: 15px;*/
    padding: 10px 5px;

    display: inline-block;
    text-align: left;
    /*color: #7c9aab;*/

    color: white;
    /*text-shadow: 0 0 5px rgba(0,0,0,0.5);*/


    width: 34.2%;

    position: relative;
    bottom: 80px;
    /*left: 500px;*/

    /*-webkit-filter: blur(15px);*/
    /*filter: blur(15px);*/

}

descrip title{
    /*color: #f8c0c1;*/
    display: block;
    font-size: 20px;
    /*text-align: center;*/
    margin-left: 60px;

    /*text-shadow: 0 0 5px rgba(0,0,0,0.5);*/

}

descrip tag{
    /*color: #f8c0c1;*/
    display: inline-block;
    font-size: 12px;
    margin-left: 60px;


}
