content{
    width: 100%;
    height: 100%;
    /* position: fixed; */
    /* position: absolute; */
    position: relative;
    display: block;

    /*top: 100px;*/
    /* z-index: 1; */
    /*left: 30%;*/
    /*z-index:100;*/
}

#content-header{
    display: block;

    /*text-align: left;*/
    /*position: fixed;*/
    /*left: 10%;*/
    margin-left: 150px;
    font-size: 56px;

    color: #f8c0c1;
    letter-spacing: 8px;
}

#content-project{
    /*width: 90%;*/
    /*align-items: center;*/
    position: relative;
    top: 30px;
}

proj{
    letter-spacing: 1px;
    font-size: 16px;
}

proj cate{
    display: block;
    color: #7c9aab;
    font-size: 30px;
    height: 25px;
    line-height: 25px;
    position: relative;
    left: 270px;
    margin-bottom: 30px;
}


proj date{
    display: block;
    color: #f8c0c1;
    /*margin-left: 200px;*/
    /*margin-top: 20px;*/
    /*width: 170px;*/
    height: 25px;
    line-height: 25px;
    position: relative;
    left: 270px;
}

proj img{
    max-width: 120px;
    max-height: 120px;
    position: relative;
    left: 275px;
    top: 20px;
}

proj title{
    display: block;
    font-size: 20px;
    color: #7c9aab;
    position: relative;
    top: -148px;
    left: 450px;
    width: 45%;
    /*margin-left: 42px;*/
    /*margin-top: 20px;*/
}

proj usage{
    display: block;
    color: #f8c0c1;
    /*margin-left: 415px;*/
    /*margin-top: 10px;*/
    position: relative;
    top: -135px;
    left: 450px;
}

proj detail{
    display: block;
    width: 45%;
    color: #7c9aab;
    /*margin-left: 415px;*/
    /*margin-top: 10px;*/
    position: relative;
    top: -120px;
    left: 450px;
}


/* @media (max-width: 1000px){
    proj cate{
        left: 100px;
    }
    proj date{
        left: 100px;
    }
    proj img{
        left: 105px;
    }

    proj title, proj usage, proj detail{
        left: 280px;
    }
    #content-header{
        margin-left: 80px;
    }
} */


/* @media (max-width: 650px) {
    content{
        position: relative;
        top: 80px;
    }
    proj{
        font-size: 12px;
    }
    proj cate, proj img, proj date{
        left: 40px;
    }
    proj title, proj usage, proj detail{
        left: 80px;
    }

    #content-header{
        font-size: 35px;
        letter-spacing: 3px;
        margin-left: 40px;
    }

    proj img{
        max-width: 60px;
        max-height: 60px;
        top: 5px;
    }

    proj title{
        display: block;
        font-size: 15px;
        letter-spacing: 1px;
        top: -55px;
        left: 120px;
        height: 50px;
    }

    proj usage{
        top: -35px;
        left: 40px;
    }

    proj detail{
        top: -30px;
        left: 40px;
        width: 80%;
    }

    proj cate{
        font-size: 23px;
        margin-bottom: 10px;
    }

} */
