content{
    width: 100%;
    position: fixed;
    top: 10%;
    /*left: 30%;*/
    /*z-index:100;*/
}

#content-header{
    display: block;

    /*text-align: left;*/
    /*position: fixed;*/
    /*left: 10%;*/
    margin-left: 150px;
    font-size: 56px;

    color: #f8c0c1;
    letter-spacing: 8px;
}

#content-proj{
    width: 100%;
    align-items: center;
    /*display: block;*/

    letter-spacing: 1px;
    font-size: 18px;
}

/*try to use position relative or absolute?*/

#content-proj date{
    display: inline-block;
    color: #f8c0c1;
    margin-left: 200px;
    margin-top: 20px;
}

#content-proj title{
    display: inline-block;
    font-size: 25px;
    color: #f8c0c1;
    margin-left: 42px;
    margin-top: 20px;
}

#content-proj usage{
    display: block;
    color: #d9e29f;
    margin-left: 415px;
    margin-top: 10px;
}

#content-proj detail{
    display: block;
    width: 400px;
    color: #f8c0c1;
    margin-left: 415px;
    margin-top: 10px;
}

@media (max-width: 780px) {
    content{
        top: 30%;
    }
    #content-proj{
        font-size: 12px;
    }
    #content-header, #content-proj date, #content-proj title, #content-proj usage, #content-proj detail{
        margin-left: 50px;
    }
    #content-header{
        font-size: 30px;
    }
    #content-proj detail{
        width: 80%;
    }
    #content-proj title{
        display: block;
    }

}