body {
    overflow-x: hidden;
    margin: 0px;
}

* {
    font-family: Arial, sans-serif;
}

colorlist {
    color: #f3efe3;
    color: #d9e29f;
    color: #e44750;
    color: #f8c0c1;
    color: #d00300;
    color: #7c9aab;
}

a {
    text-decoration: none;
}


nav {
    display: block;
    position: fixed;
    z-index: 1;

    top: 0;
    left: 0;

    margin: 0;
    width: 100%;
    min-width: 300px;
    background-color: rgb(255,255,255);
    overflow: block;
    font-size: 10px;
}

#navi {
    display: block;
    margin: 0, 20px, 0, 20px;

    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 10px;

    background-color: rgb(255,255,255);
}


#navi-logo {
    display: inline;
    position: fixed;

    left: 40px;
    max-height: 30px;
    max-width: 30px;
    padding: 5px;
}

#navi-name {
    display: inline;
    position: fixed;

    left: 80px;
    font-size: 18px;
    padding-left: 15px;
    height: 40px;

    margin-top: auto;
    letter-spacing: 5px;
}

#navi-name a {
    line-height: 40px;
    color: #f8c0c1;
}

#navi-menu{
    display: inline;
    position: fixed;
    right: 0;
    background-color: rgb(255,255,255);
}

ul {
    list-style: none;
    margin: auto;
}

#navi-menu li1, #navi-menu li2, #navi-menu li3 {
    /*float: left;*/
    display: inline;

    text-align: center;
    position: relative;

    padding-left: 20px;
    padding-right: 20px;

    letter-spacing: 2px;
    line-height: 40px;
    height: 40px;
}

#navi-menu li1 {
    right: 10px;
}

#navi-menu li2 {
    right: 20px;
}

#navi-menu li3 {
    right: 30px;
}

#navi-menu a {
    color: #f8c0c1;

}

footer {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 30px;

    /* background-color: #7c9aab; */
    background-color: white;
}

#footer-media {
    position: relative;
    display: inline-block;

    height: 40px;
    line-height: 40px;
    margin-left: 30px;
}

#footer-media a {
    display: inline-block;

    margin: 0 2px;
    height: 25px;
    width: 25px;
    line-height: 25px;

    color: white;
    font-size: 16px;

    border-radius: 25px;
    text-align: center;
    /* align-items: center; */

    /* background-color: #7c9aab; */
    background-color: white;
    /* text-shadow: 0 0 10px grey; */
}

#footer-media a i {
    color: #7c9aab;
}


#footer-email {
    display: inline-block;
    position: absolute;
    right: 30px;

    color: #7c9aab;
    margin: 0 5px;

    font-size: 9px;
    letter-spacing: 2px;
    height: 40px;
    line-height: 40px;

    /* color: white; */
    /* text-shadow: 0 0 10px lightgrey; */
}


#footer-index {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer-index-media {
    background-color: #d9e29f !important;
    text-shadow: none !important;
}

/* @media (max-width: 650px){
    #navi-menu.active{
        display: block;
        left: 40px;
        top: 60px;
    }
    #navi-menu {
        top: -500px;
        background-color: rgba(255,255,255,0.7);

    }
    #navi-menu li1, #navi-menu li2, #navi-menu li3{
        display: block;
        text-align: left;
        position: relative;
        left: 10px;

        box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        width: 150px;

    }
    #footer-media{
        display: none;
    }
    #footer-email{
        left: 10px;
        right:0;
    }
} */
