body {
    overflow-x: hidden;
    margin: 0px;
}

* {
    font-family: Arial, sans-serif;
}

colorlist {
    color: #f3efe3;
    color: #d9e29f;
    color: #e44750;
    color: #f8c0c1;
    color: #d00300;
    color: #7c9aab;
}

a {
    text-decoration: none;
}


nav {
    display: block;
    position: fixed;

    top: 0;
    left: 0;

    margin: 0;
    width: 100%;
    min-width: 300px;
    background-color: rgb(255,255,255);
    overflow: block;
    font-size: 10px;

    z-index: 2;
}

#navi {
    display: block;
    margin: 0 20px 0 20px;

    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 10px;

    background-color: rgb(255,255,255);
}


#navi-logo {
    display: inline;
    position: fixed;

    left: 40px;
    max-height: 30px;
    max-width: 30px;
    padding: 5px;
}

#navi-name {
    display: inline;
    position: fixed;

    left: 80px;
    font-size: 18px;
    padding-left: 15px;
    height: 40px;

    margin-top: auto;
    letter-spacing: 5px;
}

#navi-name a {
    line-height: 40px;
    color: #f8c0c1;
}

#navi-menu{
    display: inline;
    position: fixed;
    right: 0;
    background-color: rgb(255,255,255);
}

ul {
    list-style: none;
    margin: auto;
}

#navi-menu li1, #navi-menu li2, #navi-menu li3 {
    /*float: left;*/
    display: inline;

    text-align: center;
    position: relative;

    padding-left: 20px;
    padding-right: 20px;

    letter-spacing: 2px;
    line-height: 40px;
    height: 40px;
}

#navi-menu li1 {
    right: 10px;
}

#navi-menu li2 {
    right: 20px;
}

#navi-menu li3 {
    right: 30px;
}

#navi-menu a {
    color: #f8c0c1;
}

#navi-menu #active {
    color: #7c9aab;
}

footer {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 30px;

    /* background-color: #7c9aab; */
    background-color: white;
}

#footer-media {
    position: relative;
    display: inline-block;

    height: 40px;
    line-height: 40px;
    margin-left: 30px;
}

#footer-media a {
    display: inline-block;

    margin: 0 2px;
    height: 25px;
    width: 25px;
    line-height: 25px;

    color: white;
    font-size: 16px;

    border-radius: 25px;
    text-align: center;
    /* align-items: center; */

    background-color: white;
    /* background-color: #7c9aab; */
    /* text-shadow: 0 0 10px grey; */
}

#footer-media a i {
    color: #7c9aab;
}

#footer-index {
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer-email {
    display: inline-block;
    position: absolute;
    right: 30px;

    color: #7c9aab;
    margin: 0 5px;

    font-size: 9px;
    letter-spacing: 2px;
    height: 40px;
    line-height: 40px;

    /* color: white; */
    /* text-shadow: 0 0 10px lightgrey; */
}

#navi-menu-mobi {
    display: none;
    position: absolute;
    top: 10px;
    right: 40px;
    padding: 5px;

    width: 30px;
    height: 30px;
}

.navi{
    background-color: #f8c0c1;
    width: 20px;
    height: 2px;
    margin: 5px;
}

#navi-menu-mobi-out {
    display: none;
}

@media (max-width: 750px) and (min-width: 300px){
    #navi-menu {
        display: none;
    }

    #navi-menu-mobi.active {
        display: block;

        -moz-transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;

    }

    #navi-menu-mobi.rot {
        -moz-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg);
    }


    #navi-menu-mobi-out.active {
        top: 60px;
        transition: all 0.5s;
        /* right: 40px; */
    }

    #navi-menu-mobi-out {
        display: block;
        position: relative;
        top: -500px;
        padding: 0;
        margin: 0;
        width: 100%;

        background-color: rgba(255, 255, 255, 1);
        color: #f8c0c1;

        font-size: 12px;
        letter-spacing: 1px;
        line-height: 50px;

        box-shadow: 0 0 20px #eeeeee;

        z-index: 1;
    }

    #navi-menu-mobi-out.ul {
        list-style: none;
        margin: auto;
    }

    #navi-menu-mobi-out a {
        color: #f8c0c1;
    }

    #navi-menu-mobi-out #active {
        color: #7c9aab;
    }

    #navi-menu-mobi-out li1, #navi-menu-mobi-out li2, #navi-menu-mobi-out li3 {
        display: block;
        position: relative;
        left: 10px;

        text-align: center;
    }

}
