.loader {
  display: block;
  position: absolute;
  z-index:2;

  /* width: 300px;
  height: 300px; */
  width: 100%;
  height: 100%;
  margin: 20px;

  top: 150px;
  /* left: -80px; */

  background-color: white;
}

.loader-wrapper {
  display: block;
  position: absolute;
  top: 200px;
  /* top: 50%; */
  left: 50%;
  /* transform by half of its width & height -> center */
  transform: translate(-50%, -50%);
}

.loaded {
  display: none !important;
}

.melon-dot {
  top: 80px;
  left: 80px;
  display: block;
  width: 0;
  height: 0;
  z-index: 1;
  position: absolute;
  border-style: solid;
  border-color: #f8c0c1;
  border-width: 10px;
  border-radius: 0% 100% 50% 50%/0% 50% 50% 100%;
  transform: rotate(45deg);
  -webkit-animation: "spin-dot" 3s infinite alternate ease-in-out;
  -moz-animation: "spin-dot" 3s infinite alternate ease-in-out;
  -o-animation: "spin-dot" 3s infinite alternate ease-in-out;
  animation: "spin-dot" 3s infinite alternate ease-in-out;
}
.melon-dot::before {
  content: "";
  left: -20px;
  top: 20px;
  display: block;
  width: 0;
  height: 0;
  z-index: 1;
  position: absolute;
  border-style: solid;
  border-color: #f8c0c1;
  border-width: 10px;
  border-radius: 0% 100% 50% 50%/0% 50% 50% 100%;
}
.melon-dot::after {
  content: "";
  left: 20px;
  top: -20px;
  display: block;
  width: 0;
  height: 0;
  z-index: 1;
  position: absolute;
  border-style: solid;
  border-color: #f8c0c1;
  border-width: 10px;
  border-radius: 0% 100% 50% 50%/0% 50% 50% 100%;
}

.melon {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent #e44750 transparent;
  border-width: 0px 80px 138.564064608px 80px;
  transform-origin: 50% 66.66%;
  -webkit-animation: "spin" 3s infinite;
  -moz-animation: "spin" 3s infinite;
  -o-animation: "spin" 3s infinite;
  animation: "spin" 3s infinite;
}

.melon-border {
  display: block;
  width: 120px;
  height: 0;
  border-style: solid;
  border-color: #dde4ab;
  border-width: 0px 20px 20px 20px;
  border-radius: 0px 0px 20px 20px;
  transform-origin: 50% -230.9401076717%;
  -webkit-animation: "spin" 3s linear infinite;
  -moz-animation: "spin" 3s linear infinite;
  -o-animation: "spin" 3s linear infinite;
  animation: "spin" 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  33.33% {
    transform: rotate(120deg);
  }
  66.66% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  33.33% {
    transform: rotate(120deg);
  }
  66.66% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  33.33% {
    transform: rotate(120deg);
  }
  66.66% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  33.33% {
    transform: rotate(120deg);
  }
  66.66% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-dot {
  0% {
    transform: rotate(45deg);
  }
  33.33% {
    transform: rotate(165deg);
  }
  66.66% {
    transform: rotate(285deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@-moz-keyframes spin-dot {
  0% {
    transform: rotate(45deg);
  }
  33.33% {
    transform: rotate(165deg);
  }
  66.66% {
    transform: rotate(285deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@-o-keyframes spin-dot {
  0% {
    transform: rotate(45deg);
  }
  33.33% {
    transform: rotate(165deg);
  }
  66.66% {
    transform: rotate(285deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes spin-dot {
  0% {
    transform: rotate(45deg);
  }
  33.33% {
    transform: rotate(165deg);
  }
  66.66% {
    transform: rotate(285deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/*# sourceMappingURL=output.css.map */



/* ************* Responsive Design; phone ************* */

@media (max-width: 450px) and (min-width: 300px){

    .loader {
        top: 100px;
        left: -30px;
    }
}
