// Created by Yuxi Luo; May 2018
// generalizing broswer support & animation setting

// https://stackoverflow.com/a/20026077/8127729
$browser: null;
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        $browser: "-webkit-";
        @content;
    }
    @-moz-keyframes #{$name} {
        $browser: "-moz-";
        @content;
    }
    @-o-keyframes #{$name} {
        $browser: "-o-";
        @content;
    }
    @keyframes #{$name} {
        $browser: "";
        @content;
    }
}

@mixin animation($animate...) {
    $length: length($animate);
    $result: ();

    @for $i from 1 through $length {
        $result: append($result, nth($animate, $i), space);
    }

    -webkit-animation: $result;
    -moz-animation: $result;
    -o-animation: $result;
    animation: $result;
}
