// Created by Yuxi Luo; May 2018

@import "_general.scss";

$size: 300px;

$color3: #133B40;
$color2: #26757F;
$color1: #00B5CC;
$color0: #4CEBFF;

.loader {
    display: inline-block;
    position: relative;
    width: $size;
    height: $size;
    margin: 20px;
}

.loader-wrapper {
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;

    /* transform by half of its width & height -> center */
    transform: translate(-50%, -50%);
}

.loaded {
    display: none !important;
}

@mixin psudo($distance) {
    content: "";
    position: absolute;
    top: $distance;
    left: $distance;
    right: $distance;
    bottom: $distance;
}


////////////////// load1 //////////////////

@mixin load1($distance, $color, $time) {
    @include psudo($distance);

    border: 5px solid transparent;
    border-top-color: $color;
    border-radius: 100px;

    @include animation("spin", $time, infinite);
}

#load1 {
    display: block;
    position: relative;
    margin: auto;

    width: 100px;
    height: 100px;

    border: 5px solid transparent;
    border-top-color: $color2;
    border-left-color: $color2;

    border-radius: 100px;

    @include animation("spin", 1s, linear, infinite);

    &::before {
        @include load1(5px, $color1, 1.5s);
    }

    &::after {
        @include load1(15px, $color0, 3s);
    }
}

@include keyframes("spin") {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


////////////////// load2 //////////////////

@mixin load2($distance, $time) {
    @include psudo($distance);

    border: 5px solid transparent;
    border-radius: 100px;
    box-shadow: 0 0 20px #ffffff;

    @include animation("circle", $time, infinite);
}

#load2 {
    display: block;
    position: relative;

    width: $size;
    height: $size;

    @include animation("background", 3s, infinite);

    &::after {
        @include load2(100px, 3s);
    }
}

@include keyframes("background") {
    0% {
        background-color: #000000;
    }

    100% {
        background-color: #ffffff;
    }
}

@include keyframes("circle") {
    0% {
        border-top-color: #ffffff;
        transform: rotate(0deg);
    }

    100% {
        border-top-color: #000000;
        transform: rotate(360deg);
    }
}

////////////////// load3 //////////////////

#load3 {
    display: block;
    position: relative;

    width: 100px;
    height: 10px;
    border: 5px solid transparent;

    @include animation("arrow", 3s, linear, infinite);

    &::before {
        content: "";
        display: block;
        position: relative;

        margin-top: 20px;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 10px 16.32px 10px;

        @include animation("arrow-helper", 3s, linear, infinite);
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;

        @include animation("arrow-fill", 3s, linear, infinite);
    }
}

@include keyframes("arrow") {
    0% {
        border-color: #133B40;
    }

    100% {
        border-color: #4CEBFF;
    }
}

@include keyframes("arrow-helper") {
    0% {
        border-color: transparent transparent #133B40 transparent;
        margin-left: -10px;
    }

    100% {
        border-color: transparent transparent #4CEBFF transparent;
        margin-left: 90px;
    }
}

@include keyframes("arrow-fill") {
    0% {
        width: 0%;
        background-color: #133B40;
    }

    100% {
        width: 100%;
        background-color: #4CEBFF;
    }
}

////////////////// load4 //////////////////

#load4 {
    display: block;
    position: relative;

    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: rgb(0, 181, 204);
    /* box-shadow: 0 0 20px #ffffff; */

}

////////////////// load5 //////////////////

#load5 {
    display: block;
    position: relative;

    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #fff500;
    box-shadow: 0 0 20px 2px #ffffff;

}

#load5-bg {
    width: $size;
    height: $size;
    background-color: #000000;
}

////////////////// load6 //////////////////

$pink1: #e44750;
$pink0: #f8c0c1;
$blue: #7c9aab;

$rootThree: 1.7320508076;
$slide: 100px;

#load6 {
    display: block;
    position: relative;
    width: 0;
    height: 0;

    border-color: transparent transparent $pink0 transparent;
    border-width: 0px $slide $slide*$rootThree $slide;
    border-style: solid;
}
