body {

}

.loader {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.loader-wrapper {
    display: block;

    /* not an inline element: setting line-height is not working */
    /* line-height: 300px; */

    position: absolute;
    top: 50%;
    left: 50%;

    /* transform by half of its width & height */
    transform: translate(-50%, -50%);
}

.loaded {
    /* to hide an element: */
    /* https://stackoverflow.com/questions/272360/does-opacity0-have-exactly-the-same-effect-as-visibilityhidden/273076#273076 */

    display: none !important;
    /* visibility: hidden; */
    /* opacity: 0; */
}

#load1 {
    display: block;
    position: relative;



    width: 100px;
    height: 100px;

    /* top: 200px; */
    margin: auto;



    border: 5px solid transparent;

    /* only showing the top border of the box */
    border-top-color: #26757F;
    border-left-color: #26757F;

    /* transform the box to a circle */
    border-radius: 100px;

    /* highlight the trace */
    /* box-shadow: 0 0 20px #ffffff; */

    /* spinning the border by setting up keyframes */
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}


#load1::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;

    border: 5px solid transparent;
    border-top-color: #00B5CC;
    border-radius: 100px;
    /* box-shadow: 0 0 20px #ffffff; */

    -webkit-animation: spin 1.5s infinite;
    animation: spin 1.5s infinite;
}

#load1::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;

    border: 5px solid transparent;
    border-top-color: #4CEBFF;
    border-radius: 100px;
    /* box-shadow: 0 0 20px #ffffff; */

    -webkit-animation: spin 3s infinite;
    animation: spin 3s infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



#load2 {
    display: block;
    position: relative;

    width: 300px;
    height: 300px;

    /* spinning the border by setting up keyframes */
    -webkit-animation: bg 3s infinite;
    animation: bg 3s infinite;
}


#load2::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;

    border: 5px solid transparent;
    border-top-color: #4CEBFF;
    border-radius: 100px;
    box-shadow: 0 0 20px #ffffff;

    -webkit-animation: bg1 3s infinite;
    animation: bg1 3s infinite;
}


@-webkit-keyframes bg {
    0% {
        background-color: #000000;
    }

    100% {
        background-color: #ffffff;
    }
}

@keyframes bg {
    0% {
        background-color: #000000;
    }

    100% {
        border-top-color: #ffffff;
    }
}

@-webkit-keyframes bg1 {
    0% {
        border-top-color: #ffffff;

        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        border-top-color: #000000;

        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes bg1 {
    0% {
        border-top-color: #ffffff;

        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        border-top-color: #000000;

        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


#load3 {
    display: block;
    position: relative;

    width: 100px;
    height: 10px;
    border: 5px solid transparent;
    border-color: #00B5CC;
    /* border-radius: 100px; */

    -webkit-animation: arrow 3s linear infinite;
    animation: arrow 3s linear infinite;
}

#load3::before {
    content: "";
    display: block;
    position: relative;

    margin-top: 20px;
    margin-left: -10px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 10px 16.32px 10px;
    border-color: transparent transparent #000000 transparent;

    -webkit-animation: arrow-helper 3s linear infinite;
    animation: arrow-helper 3s linear infinite;

}

#load3::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    -webkit-animation: arrow-fill 3s linear infinite;
    animation: arrow-fill 3s linear infinite;
}


@-webkit-keyframes arrow {
    0% {
        border-color: #133B40;
    }

    100% {
        border-color: #4CEBFF;
    }
}

@keyframes arrow {
    0% {
        border-color: #133B40;
    }

    100% {
        border-color: #4CEBFF;
    }
}

@-webkit-keyframes arrow-fill {
    0% {
        width: 0%;
        background-color: #133B40;
    }

    100% {
        width: 100%;
        background-color: #4CEBFF;
    }
}

@keyframes arrow-fill {
    0% {
        width: 0%;
        background-color: #133B40;
    }

    100% {
        width: 100%;
        background-color: #4CEBFF;
    }
}

@-webkit-keyframes arrow-helper {
    0% {
        border-color: transparent transparent #133B40 transparent;
        margin-left: -10px;
    }

    100% {
        border-color: transparent transparent #4CEBFF transparent;
        margin-left: 90px;
    }
}

@keyframes arrow-helper {
    0% {
        border-color: transparent transparent #133B40 transparent;
        margin-left: -10px;
    }

    100% {
        border-color: transparent transparent #4CEBFF transparent;
        margin-left: 90px;
    }
}


#load4 {
    display: block;
    position: relative;
    /* top: -100px; */
    /* left: -100px; */

    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(0, 181, 204);
}
