.loader {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.loader-wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform by half of its width & height -> center */
  transform: translate(-50%, -50%);
}

.loaded {
  display: none !important;
}

#load1 {
  display: block;
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 5px solid transparent;
  border-top-color: #26757F;
  border-left-color: #26757F;
  border-radius: 100px;
  -webkit-animation: "spin" 1s linear infinite;
  -moz-animation: "spin" 1s linear infinite;
  -o-animation: "spin" 1s linear infinite;
  animation: "spin" 1s linear infinite;
}
#load1::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid transparent;
  border-top-color: #00B5CC;
  border-radius: 100px;
  -webkit-animation: "spin" 1.5s infinite;
  -moz-animation: "spin" 1.5s infinite;
  -o-animation: "spin" 1.5s infinite;
  animation: "spin" 1.5s infinite;
}
#load1::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 5px solid transparent;
  border-top-color: #4CEBFF;
  border-radius: 100px;
  -webkit-animation: "spin" 3s infinite;
  -moz-animation: "spin" 3s infinite;
  -o-animation: "spin" 3s infinite;
  animation: "spin" 3s infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#load2 {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  -webkit-animation: "background" 3s infinite;
  -moz-animation: "background" 3s infinite;
  -o-animation: "background" 3s infinite;
  animation: "background" 3s infinite;
}
#load2::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 5px solid transparent;
  border-radius: 100px;
  box-shadow: 0 0 20px #ffffff;
  -webkit-animation: "circle" 3s infinite;
  -moz-animation: "circle" 3s infinite;
  -o-animation: "circle" 3s infinite;
  animation: "circle" 3s infinite;
}

@-webkit-keyframes background {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
@-moz-keyframes background {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
@-o-keyframes background {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes background {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes circle {
  0% {
    border-top-color: #ffffff;
    transform: rotate(0deg);
  }
  100% {
    border-top-color: #000000;
    transform: rotate(360deg);
  }
}
@-moz-keyframes circle {
  0% {
    border-top-color: #ffffff;
    transform: rotate(0deg);
  }
  100% {
    border-top-color: #000000;
    transform: rotate(360deg);
  }
}
@-o-keyframes circle {
  0% {
    border-top-color: #ffffff;
    transform: rotate(0deg);
  }
  100% {
    border-top-color: #000000;
    transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    border-top-color: #ffffff;
    transform: rotate(0deg);
  }
  100% {
    border-top-color: #000000;
    transform: rotate(360deg);
  }
}
#load3 {
  display: block;
  position: relative;
  width: 100px;
  height: 10px;
  border: 5px solid transparent;
  -webkit-animation: "arrow" 3s linear infinite;
  -moz-animation: "arrow" 3s linear infinite;
  -o-animation: "arrow" 3s linear infinite;
  animation: "arrow" 3s linear infinite;
}
#load3::before {
  content: "";
  display: block;
  position: relative;
  margin-top: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 10px 16.32px 10px;
  -webkit-animation: "arrow-helper" 3s linear infinite;
  -moz-animation: "arrow-helper" 3s linear infinite;
  -o-animation: "arrow-helper" 3s linear infinite;
  animation: "arrow-helper" 3s linear infinite;
}
#load3::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  -webkit-animation: "arrow-fill" 3s linear infinite;
  -moz-animation: "arrow-fill" 3s linear infinite;
  -o-animation: "arrow-fill" 3s linear infinite;
  animation: "arrow-fill" 3s linear infinite;
}

@-webkit-keyframes arrow {
  0% {
    border-color: #133B40;
  }
  100% {
    border-color: #4CEBFF;
  }
}
@-moz-keyframes arrow {
  0% {
    border-color: #133B40;
  }
  100% {
    border-color: #4CEBFF;
  }
}
@-o-keyframes arrow {
  0% {
    border-color: #133B40;
  }
  100% {
    border-color: #4CEBFF;
  }
}
@keyframes arrow {
  0% {
    border-color: #133B40;
  }
  100% {
    border-color: #4CEBFF;
  }
}
@-webkit-keyframes arrow-helper {
  0% {
    border-color: transparent transparent #133B40 transparent;
    margin-left: -10px;
  }
  100% {
    border-color: transparent transparent #4CEBFF transparent;
    margin-left: 90px;
  }
}
@-moz-keyframes arrow-helper {
  0% {
    border-color: transparent transparent #133B40 transparent;
    margin-left: -10px;
  }
  100% {
    border-color: transparent transparent #4CEBFF transparent;
    margin-left: 90px;
  }
}
@-o-keyframes arrow-helper {
  0% {
    border-color: transparent transparent #133B40 transparent;
    margin-left: -10px;
  }
  100% {
    border-color: transparent transparent #4CEBFF transparent;
    margin-left: 90px;
  }
}
@keyframes arrow-helper {
  0% {
    border-color: transparent transparent #133B40 transparent;
    margin-left: -10px;
  }
  100% {
    border-color: transparent transparent #4CEBFF transparent;
    margin-left: 90px;
  }
}
@-webkit-keyframes arrow-fill {
  0% {
    width: 0%;
    background-color: #133B40;
  }
  100% {
    width: 100%;
    background-color: #4CEBFF;
  }
}
@-moz-keyframes arrow-fill {
  0% {
    width: 0%;
    background-color: #133B40;
  }
  100% {
    width: 100%;
    background-color: #4CEBFF;
  }
}
@-o-keyframes arrow-fill {
  0% {
    width: 0%;
    background-color: #133B40;
  }
  100% {
    width: 100%;
    background-color: #4CEBFF;
  }
}
@keyframes arrow-fill {
  0% {
    width: 0%;
    background-color: #133B40;
  }
  100% {
    width: 100%;
    background-color: #4CEBFF;
  }
}
#load4 {
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #00b5cc;
  /* box-shadow: 0 0 20px #ffffff; */
}

#load5 {
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #fff500;
  box-shadow: 0 0 20px 2px #ffffff;
}

#load5-bg {
  width: 300px;
  height: 300px;
  background-color: #000000;
}

.triangle {
  display: block;
  position: absolute;
  left: -100px;
  width: 0;
  height: 0;
  border-color: transparent transparent #f8c0c1 transparent;
  border-width: 0px 100px 56.7350269179px 100px;
  border-style: solid;
  transform-origin: 50% 0;
  transform: rotate(0deg);
  -webkit-animation: "spin" 1s linear infinite;
  -moz-animation: "spin" 1s linear infinite;
  -o-animation: "spin" 1s linear infinite;
  animation: "spin" 1s linear infinite;
}
.triangle::before {
  content: "";
  display: block;
  position: absolute;
  left: -100px;
  width: 0;
  height: 0;
  border-color: transparent transparent #f8c0c1 transparent;
  border-width: 0px 100px 56.7350269179px 100px;
  border-style: solid;
  transform-origin: 50% 0;
  transform: rotate(120deg);
}
.triangle::after {
  content: "";
  display: block;
  position: absolute;
  left: -100px;
  width: 0;
  height: 0;
  border-color: transparent transparent #f8c0c1 transparent;
  border-width: 0px 100px 56.7350269179px 100px;
  border-style: solid;
  transform-origin: 50% 0;
  transform: rotate(240deg);
}

/*# sourceMappingURL=output.css.map */
