content{
    width: 100%;
    position: fixed;
    top: 10%;
    /*left: 30%;*/
    /*z-index:100;*/
}

#content-name{
    /*position: fixed;*/

    display: block;
    /*display: inline;*/
    /*top: 45%;*/
    /*left: 40%;*/
    text-align: center;
    font-size: 56px;
    /*height: 0;*/
    color: #f8c0c1;
    letter-spacing: 8px;
    /*z-index: 100;*/
}

#content-main{
    /*position: fixed;*/

    display: block;

    /*display: inline;*/
    text-align: center;
    line-height: 150%;

    margin-top: 20px;
    font-size: 20px;
    /*height: 0;*/
    color: #f8c0c1;
    /*background-color: white;*/
    letter-spacing: 5px;

    z-index: 99;
}

#content-icon{
    /*position: fixed;*/
    /*top: 10%;*/
    /*left: 45%;*/
    /*width: 100%;*/
    display: inline;
    text-align: center;
}

#content-img{
    max-height: 15%;
    max-width: 15%;
    opacity: 0.9;
    /*z-index: -1;*/

    /*-vendor-animation-duration: 3s;*/
    /*-vendor-animation-delay: 2s;*/
    /*-vendor-animation-iteration-count: 1;*/
}

/*!* Start by setting display:none to make this hidden.*/
   /*Then we position it in relation to the viewport window*/
   /*with position:fixed. Width, height, top and left speak*/
   /*for themselves. Background we set to 80% white with*/
   /*our animation centered, and no-repeating *!*/
/*.modal {*/
    /*display:    none;*/
    /*position:   fixed;*/
    /*z-index:    1000;*/
    /*top:        0;*/
    /*left:       0;*/
    /*height:     100%;*/
    /*width:      100%;*/
    /*background: rgba( 255, 255, 255, .8 )*/
    /*url('http://i.stack.imgur.com/FhHRx.gif')*/
    /*50% 50%*/
    /*no-repeat;*/
/*}*/

/*!* When the body has the loading class, we turn*/
   /*the scrollbar off with overflow:hidden *!*/
/*body.loading {*/
    /*overflow: hidden;*/
/*}*/

/*!* Anytime the body has the loading class, our*/
   /*modal element will be visible *!*/
/*body.loading .modal {*/
    /*display: block;*/
/*}*/
