// Created by Yuxi Luo; 2018

@import "general/general.scss";
@import "general/loader.scss";
@import "general/nav.scss";

////////////////////// index content //////////////////////


th, td {
    padding: 0 10px 4px 0;
    text-align: left;
}

#content-skills {
    th {
        color: $blue2;
    }
    td {
        color: $blue;
    }
}
