// Created by Yuxi Luo; 2018

////////////////////// general //////////////////////

body {
    overflow: hidden;
    margin: 0;
    background-color: #111111;
}

* {
    font-family: Arial, sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
}

.center {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

////////////////////// loader //////////////////////

$loader-rad: 100px;

loader {
    display: block;
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;

    z-index: 3;
}

.loader-wrapper {
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;

    /* transform by half of its width & height -> center */
    transform: translate(-50%, -50%);
}

.loaded {
    display: none !important;
}

@mixin psudo($horiz, $vert) {
    content: "";
    position: absolute;
    top: $vert;
    left: $horiz;
    right: $horiz;
    bottom: $vert;
}

@mixin helper($width, $height, $radius, $time) {
    @include psudo(calc((#{$width} - #{$radius}) / 2),
                   calc((#{$height} - #{$radius}) / 2));

    border: 5px solid transparent;
    border-radius: $radius;
    box-shadow: 0 0 20px #ffffff;

    animation: circle $time ease-out;
}

#load {
    display: block;
    position: relative;

    width: 100vw;
    height: 100vh;

    animation: background 2s infinite ease-out;

    &::after {
        @include helper(100vw, 100vh, $loader-rad, 2s);
    }
}

@keyframes background {
    0% {
        background-color: #000000;
    }

    50% {
        background-color: #cccccc;
    }

    100% {
        background-color: #000000;
    }
}

@keyframes circle {
    0% {
        border-top-color: #ffffff;
        transform: rotate(0deg);
    }

    50% {
        border-top-color: #000000;
        transform: rotate(180deg);
    }

    100% {
        border-top-color: #eeeeee;
        transform: rotate(360deg);
    }
}


////////////////////// nav //////////////////////

$nav-width: 200px;

@mixin div-navi() {
    text-align: center;
    width: $nav-width;
    height: $nav-width;
}

nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    width: $nav-width;
    height: 100vh;

    background-color: #222222;
    box-shadow: 0 0 60px #666666;
}

.navi-sub {
    display: block;
    position: absolute;
    height: 100vh;
    top: 0;
}

#navi-logo {
    @include div-navi();
    position: absolute;
    top: 0;

    a {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        font-family: Helvetica, sans-serif;
        font-weight: bold;
        font-size: 42px;
        letter-spacing: 5px;
        // line-height: 60px;
        // text-decoration: underline;

        transition: all 0.25s linear;

        &:hover {
            // no spread in text-shadow?
            text-shadow: 0 0 10px #cccccc, 0 0 10px #cccccc;
        }
    }
}

#navi-menu {
    @include div-navi();
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    padding: 0;
    list-style: none;

    a {
        line-height: 55px;
        // text-shadow: 0 0 10px #ffffff;

        font-size: 22px;
    }
}

#navi-media {
    @include div-navi();
    position: absolute;
    bottom: 0;

    a {
        display: block;
        line-height: 50px;

        i {
            font-size: 22px;
            // text-shadow: 0 0 10px #ffffff;
        }
    }
}

#navi-email {
    display: block;
    position: relative;
    left: $nav-width;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 50% 50%;

    color: #cccccc;
    font-size: 10px;

    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 3px;
}

////////////////////// content //////////////////////

$content-width: calc(100vw - #{$nav-width});
$content-block-width: calc(#{$content-width} - 120px - 50px);

$font-header: 60px;
$font-subheader: 35px;
$font-main: 16px;

content {
    display: block;
    position: absolute;
    top: 0;
    left: $nav-width;

    margin: 0;
    padding: 0 0 0 120px;
    width: $content-width;
    height: 100vh;
}

#content-header {
    // text-align: center;
    width: $content-width;
    height: $nav-width;

    h1 {
        margin: 0;
        font-size: $font-header;
        line-height: $nav-width;
    }
}

.content-block {
    width: $content-block-width;
    margin: 0 0 60px 0;
}


.content-name {
    display: inline-block;
    width: 80px;
    height: 80px;

    font-size: $font-subheader;
    text-align: center;
    line-height: 80px;

    vertical-align: middle;

    &::after {
        content: "";
        display: block;
        position: relative;
        right: 30px;
        border-style: solid;
        border-color: transparent transparent transparent #ffffff;
        border-width: 0px 15px 15px 15px;
        // border-radius: 0px 0px 20px 20px;

        // // radius: topleft - topright - bottomright - bottomleft
        // border-radius: 0% 100% 50% 50% /
        //                0% 50% 50% 100%;


        // border: 25px solid rgba(0,0,0,0);
        // border-bottom: 25px solid #F1C617;
        transform: translate(80%, -140%) rotate(135deg);
    }
    // border: 5px solid #ffffff;
}

.content-main {
    display: inline-block;
    position: relative;
    left: 70px;
    vertical-align: middle;
    width: calc(#{$content-block-width} - 80px - 70px);

    font-size: $font-main;
    line-height: 20px;
}

th, td {
    padding: 0 10px 4px 0;
    text-align: left;
}











// (｡･∀･)ﾉﾞ
