// Created by Yuxi Luo; 2018

////////////////////// general //////////////////////

body {
    overflow: hidden;
    margin: 0;
    background-color: #1e1e1e;
}

* {
    font-family: Arial, sans-serif;
    color: #dedede;
}

a {
    text-decoration: none;
}

// .center {
//     display: block;
//     position: relative;
//     top: 50%;
//     transform: translateY(-50%);
// }

@mixin div-afater() {
    &::after {
        content: "";
        left: 0;
        bottom: 0;

        display: block;
        border-style: solid;
        border-color: #fff;
        border-width: 0 0 5px 0;

        opacity: 0;
    }
}

////////////////////// loader //////////////////////

@import "loader.scss";

////////////////////// nav //////////////////////

$nav-width: 200px;

nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    width: $nav-width;
    height: 100vh;

    background-color: #222;
    // box-shadow: 0 0 50px #666666;
}

// .navi-sub {
//     display: block;
//     position: absolute;
//     height: 100vh;
//     top: 0;
// }

#navi-logo {
    // fix default mouse position (0, 0) will hover over logo
    text-align: center;
    left: 1px;
    top: 1px;
    width: $nav-width - 1px;
    height: $nav-width - 1px;

    position: relative;
    top: 0;

    a {
        display: block;
        position: relative;
        width: $nav-width;
        height: $nav-width;

        p {
            padding: 0;
            margin: 0;
            left: 0;
            top: 50%;
            transform: translateY(50%) translate(0, 5px);

            font-family: Helvetica, sans-serif;
            font-weight: bold;
            font-size: 42px;
            letter-spacing: 5px;
        }

    }

    transition: text-shadow 0.1s linear;

    &:hover {
        a {
            left: -5px;
        }
        p {
            // center the logo for the border
            transform: translateY(50%);
        }

        // text-shadow: 0 0 10px #cccccc, 0 0 10px #cccccc;
        box-sizing: border-box;
        border-style: solid;
        border-color: #fff;
        border-width: 5px;
    }
}

ul {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        a {
            display: block;
            position: relative;
            width: $nav-width;
            line-height: 55px;
            font-size: 22px;
            text-align: center;
        }

        &.active {
            border-style: solid;
            border-color: #fff;
            border-width: 0 5px 0 5px;
            a {
                left: -5px;
            }
        }

        @include div-afater();

        &:hover:not(.active)::after {
            opacity: 1;
            transition: opacity 0.2s linear;
        }

        &:hover a {
            text-shadow: 0 0 10px #ddd, 0 0 10px #ddd;
        }
    }
}

#navi-media {
    position: absolute;
    bottom: 30px;
}

#navi-email {
    position: absolute;
    width: $nav-width;
    text-align: center;
    bottom: 10px;
    color: #ccc;
    font-size: 5px;
    letter-spacing: 2px;
}


////////////////////// content //////////////////////

$content-width: calc(100vw - #{$nav-width});
$content-block-width: calc(#{$content-width} - 120px - 50px);

$font-header: 60px;
$font-subheader: 30px;
$font-main: 16px;

$blue: #8AD0EE;
$blue2: #6CA3BB;
$blue3: #40616E;
$white: #D4E8F1;
$grey: #616B6E;
$pink: #F1A4B0;
$yellow: #BBB65A;
$orange: #EEC08A;

content {
    display: block;
    position: absolute;
    top: 0;
    left: $nav-width + 120px;

    margin: 0;
    padding: 0;
    width: $content-width;
    height: 100vh;
}

#content-header {
    // text-align: center;
    width: $content-width;
    height: $nav-width;
    line-height: $nav-width;

    h1 {
        margin: 0;
        font-size: $font-header;

        &:hover {
            text-decoration: underline;
            text-underline-position: under;
        }
    }
}

.content-block {
    width: $content-block-width;
    margin: 0 0 40px 0;

    &:hover {
        .content-name::after {
            opacity: 1;
        }
        // .content-name {
        //     left: -4px;
        //     border-style: solid;
        //     border-color: #fff;
        //     border-width: 0px 4px 0px 4px;
        //
        // }
        // .content-main {
        //     left: 42px;
        // }
    }
}


.content-name-wrapper {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 40px;

    vertical-align: top;
}

.content-name {
    display: inline-block;
    font-size: $font-subheader;
    text-align: center;
    width: auto;
    line-height: 40px;

    @include div-afater();
}

.content-main {
    display: inline-block;
    position: relative;
    left: 50px;

    width: calc(#{$content-block-width} - 200px);
    font-size: $font-main;
    line-height: 24px;

    a {
        color: $orange;
    }
}

th, td {
    padding: 0 10px 4px 0;
    text-align: left;
}

#content-skills th {
    color: $blue2;
}









// (｡･∀･)ﾉﾞ
