<!-- nav bar -->

<nav>
    <div id="navi-logo">
        <a href="/">
            <p>YUXI<br>LUO</p>
        </a>
    </div>

    <ul class="navi-ul" id="navi-menu">
            <li><a href="/"> Information </a></li>
            <li><a href="/experience"> Experience </a></li>
            <li><a href="/project"> Projects </a></li>
            <li><a href="/photo"> Photo </a></li>
            <li><a href="/about"> About </a></li>
            <!-- <li><a href="/blog"> Blog </a></li> -->
    </ul>

    <ul class="navi-ul" id="navi-media">
            <li>
                <a target="_blank" href="https://github.com/Skycocoo">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/skycocooo/">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <!-- <li>
                <a target="_blank" href="https://500px.com/luoyuxi2016">
                    <i class="fa fa-500px"></i>
                </a>
            </li> -->
    </ul>

    <div id="navi-email"> luoyuxi2016@outlook.com </div>
</nav>
