<!-- nav bar -->

<nav>
    <div id="navi">
        <div id="navi-logo">
            <a href="/">YUXI<br>LUO</a>
        </div>

        <ul id="navi-menu">
            <li><a href="/"> About </a></li>
            <li><a href="/project"> Project </a></li>
            <li><a href="/photo"> Photography </a></li>
            <li><a href="/blog"> Blog </a></li>
        </ul>

        <!-- <div id="navi-menu-mobi">
            <div class="navi"></div>
            <div class="navi"></div>
            <div class="navi"></div>
        </div> -->
    </div>
</nav>

<!-- <ul id="navi-menu-mobi-out">
    <li><a href="/"> About </a></li>
    <li><a href="/project"> Project </a></li>
    <li><a href="/photo"> Photography </a></li>
    <li><a href="/blog"> Blog </a></li>
</ul> -->
