<!-- nav bar -->

<nav>
    <div id="navi">
        <img src="img/icon2.jpg" id="navi-logo">
        <div id="navi-name"><strong><a href="index.html"> YUXI LUO </a></strong></div>
        <ul id="navi-menu">
            <li1><a href="project.html"> Project </a></li1>
            <li2><a href="photo.html"> Photography </a></li2>
        </ul>

        <div id="navi-menu-mobi">
            <div class="navi"></div>
            <div class="navi"></div>
            <div class="navi"></div>
        </div>
    </div>
</nav>

<ul id="navi-menu-mobi-out">
    <li1><a href="project.html"> Project </a></li1>
    <li2><a href="photo.html"> Photography </a></li2>
</ul>
