<!-- nav bar -->

<nav>
    <div class="navi-sub">
        <ul id="navi-menu">
            <div class="center">
                <li><a href="/"> About </a></li>
                <li><a href="/project"> Project </a></li>
                <li><a href="/photo"> Photo </a></li>
                <li><a href="/blog"> Blog </a></li>
            </div>
        </ul>
    </div>

    <div id="navi-logo">
        <a href="/">
            <p>YUXI<br>LUO</p>
        </a>
    </div>

    <div id="navi-media">
        <div class="center">
            <a target="_blank" href="https://github.com/Skycocoo">
                <i class="fa fa-github"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/skycocooo/">
                <i class="fa fa-instagram"></i>
            </a>
            <a target="_blank" href="https://500px.com/luoyuxi2016">
                <i class="fa fa-500px"></i>
            </a>
        </div>
    </div>
</nav>

<div class="navi-sub">
    <div id="navi-email"> luoyuxi2016@outlook.com </div>
</div>

<!-- <ul id="navi-menu-mobi-out">
    <li><a href="/"> About </a></li>
    <li><a href="/project"> Project </a></li>
    <li><a href="/photo"> Photography </a></li>
    <li><a href="/blog"> Blog </a></li>
</ul> -->
