<!DOCTYPE html>
<html lang="en">

<head>
    <title> Yuxi Luo - Error </title>
    <style>
        /* styling error page */
    </style>
</head>

<body>
    <h2><%= error.status + ": " %><%= message %></h2>
</body>
