<!-- Created by Yuxi Luo; 2018 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("general/head.ejs") %>
    <link rel="stylesheet" href="css/index.css">
    <title> Info - Yuxi Luo </title>
</head>

<body>
    <!-- <loader>
        <div class="loader-wrapper">
            <div id="load"></div>
        </div>
    </loader> -->

    <%- include("general/nav.ejs") %>

    <content>
        <!-- <div class="center"> -->
        <header id="content-header">
            <h1> Information </h1>
        </header>

        <div class="content-block">
            <div class="content-name-wrapper">
                <div class="content-name"> Basic </div>
            </div>
                <div class="content-main">
                    Hi, I'm Yuxi <br>
                    I want to creat beautiful things by programming and photography <br>
                    I study at New York University, majoring in Computer Science, and minoring in (Math & Game Engineering)
                </div>
        </div>

        <div class="content-block">
            <div class="content-name-wrapper">
                <div class="content-name"> Skill </div>
            </div>
            <div class="content-main">
                <table id="content-skills">
                    <tr>
                        <th> Web Development </th>
                        <td> .js | .java | .css | .html </td>
                        <td> ExpressJS | NodeJS | SCSS | Dropwizard </td>
                    </tr>
                    <tr>
                        <th> Game Engineering </th>
                        <td> .cpp | .gml </td>
                        <td> OpenGL | GameMakerStudio </td>
                    </tr>
                    <tr>
                        <th> Computer Vision </th>
                        <td> .py </td>
                        <td> OpenCV | Numpy | Keras </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="content-block">
            <div class="content-name-wrapper">
                <div class="content-name"> Website </div>
            </div>
                <div class="content-main">
                    Currently this website is my playground for Web Development <br>
                    Front End (client side): <br>
                    &emsp;&emsp; CSS processor: <a target="_blank" href="https://sass-lang.com/">Sass (SCSS)</a> & <a target="_blank" href="https://leaverou.github.io/prefixfree/">-prefix-free</a><br>
                    &emsp;&emsp; CSS icon library: <a target="_blank" href="https://fontawesome.com/">Font Awesome</a><br>
                    &emsp;&emsp; JavaScript library: <a target="_blank" href="https://jquery.com">jQuery</a><br>
                    Back End (server side): <br>
                    &emsp;&emsp; Server operating system: <a target="_blank" href="https://www.ubuntu.com/">Ubuntu OS</a> (<a target="_blank" href="https://www.digitalocean.com/">DigitalOcean Droplet</a>)<br>
                    &emsp;&emsp; Server web framework: <a target="_blank" href="https://expressjs.com/">Express</a> (<a target="_blank" href="https://nodejs.org/en/">Node.js</a>)<br>
                    <!-- &emsp;&emsp; Database: <a target="_blank" href="https://www.mongodb.com/">MongoDB</a> (<a target="_blank" href="https://www.docker.com/">Docker container</a>)<br> -->
                </div>
        </div>

    </content>




    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="js/theme.js"></script>

</body>
