<!-- Created by Yuxi Luo; 2018 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- <link rel="shortcut icon" href="img/icon1.png" /> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/theme.css">
    <!-- prefixfree: will load stylesheet one more time -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

    <title> Yuxi Luo - About </title>
</head>

<body>
    <loader>
        <div class="loader-wrapper">
            <div id="load"></div>
        </div>
    </loader>

    <%- include("general/nav.ejs") %>

    <content>
        <header id="content-header">
            <h1> About </h1>
        </header>

        <div class="content-block">
            <div class="content-name"> Info </div>
                <div class="content-main">
                    NYU Computer Science & (Math & Game Engineering) <br>
                    A lazy person who wants to create beautiful things in Web with Graphics
                </div>
        </div>

        <div class="content-block">
            <div class="content-name"> Skills </div>
            <div class="content-main">
                <table id="content-skills">
                    <tr>
                        <th> Game Engineering </th>
                        <td> .cpp (C++) </td>
                    </tr>
                    <tr>
                        <th> Web Development </th>
                        <td> .js (Javascript) </td>
                        <td> .css / .scss (CSS) </td>
                        <td> .html / .ejs (HTML) </td>
                    </tr>
                    <tr>
                        <th> Image Processing </th>
                        <td> .py (Python) </td>
                    </tr>
                </table>
            </div>
        </div>

    </content>




    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="js/theme.js"></script>

</body>
