<!-- Created by Yuxi Luo; 2018 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("general/head.ejs") %>
    <link rel="stylesheet" href="css/index.css">
    <title> Info - Yuxi Luo </title>
</head>

<body>
    <!-- <loader>
        <div class="loader-wrapper">
            <div id="load"></div>
        </div>
    </loader> -->

    <%- include("general/nav.ejs") %>

    <content>
        <!-- <div class="center"> -->
        <header id="content-header">
            <h1> Information </h1>
        </header>

        <div class="content-block">
            <div class="content-name-wrapper">
                <div class="content-name"> Basic </div>
            </div>
                <div class="content-main">
                    Hi, I'm Yuxi. I'm pursuing a Master of Computational Data Science with Systems concentration at Carnegie Mellon University. I recently graduated from New York University, majoring in Computer Science and minoring in Game Engineering and Mathematics. <br>
        		    I'm seeking Summer 2021 Software Engineer Internship opportunities. My current interests lie in computer systems, with past internships and projects focusing on backend development, distributed systems, and cloud computing. <br>
                </div>
        </div>

        <div class="content-block">
            <div class="content-name-wrapper">
                <div class="content-name"> Skill </div>
            </div>
            <div class="content-main">
                <table id="content-skills">
                    <tr>
                        <th style="color: white;"> Categories </th>
                        <th style="color: white;"> Languages </th>
                        <th style="color: white;"> Tools </th>
                    </tr>
                    <tr>
                        <th> Web Development </th>
                        <td> JavaScript | Java | CSS | HTML </td>
                        <td> ExpressJS | NodeJS | SCSS | Dropwizard </td>
                    </tr>
                    <tr>
                        <th> Backend Development </th>
                        <td> Golang </td>
                        <td> Protocol Buffers | Bazel | Docker | Cassandra | Kibana | NATS </td>
                    <tr>
                        <th> Computer Vision </th>
                        <td> Python </td>
                        <td> PyTorch | Keras | Numpy | Pandas | Scikit-learn | NLTK | LaTeX | OpenCV </td>
                    </tr>
        		    <tr>
                        <th> Game Engineering </th>
                        <td> C++ | gml </td>
                        <td> OpenGL | GameMakerStudio </td>
                    </tr>
                </table>
            </div>
        </div>

    </content>




    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="js/theme.js"></script>

</body>
