<!-- Created by Yuxi Luo; 2018 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("general/head.ejs") %>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.1.3/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.1.3/css/ol.css">
    <link rel="stylesheet" href="css/photo.css">
    <title> Photography - Yuxi Luo </title>
</head>

<body>
    <loader>
        <div class="loader-wrapper">
            <div id="load"></div>
        </div>
    </loader>

    <%- include("general/nav.ejs") %>
    <div id="map-container"></div>

    <content>
        <header id="content-header">
            <h1> Photography </h1>
        </header>

        <% for(let i = 0; i < images.length; i++) { %>
             <img src="<%= images[i] %>"></img>
        <% } %>

    </content>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="js/theme.js"></script>
    <script src="js/photo.js"></script>

</body>
