#content-project {
    position: relative;
    top: 30px;
    left: 80px;
}

proj {
    letter-spacing: 1px;
    font-size: 16px;
}

proj cate {
    position: relative;
    left: 170px;
    margin-bottom: 30px;
    display: block;

    color: #7c9aab;
    font-size: 30px;

    height: 25px;
    line-height: 25px;
}


proj date {
    position: relative;
    left: 170px;
    display: block;

    color: #f8c0c1;
    height: 25px;
    line-height: 25px;
}

proj img {
    position: relative;
    top: 20px;
    left: 180px;

    max-width: 120px;
    max-height: 120px;
}

proj descrip {
    position: relative;
    display: block;
    top: -150px;
    left: 350px;
}

proj title {
    position: relative;
    top: 5px;
    display: block;
    width: 40%;

    font-size: 20px;
    color: #7c9aab;
}

proj usage {
    position: relative;
    top: 20px;
    display: block;

    color: #f8c0c1;
}

proj detail {
    position: relative;
    top: 30px;
    display: block;
    width: 45%;

    color: #7c9aab;
}

/* proj a {
    text-decoration: underline;
    text-decoration-color: #e4ecf1;
} */

@media (max-width: 1000px) and (min-width: 450px){
    content {
        position: relative;
        margin: 0;
        top: 80px;
        left: 0px;
    }

    #content-header {
        margin-left: 100px;
    }

    #content-project {
        left: -10px;
    }

}


@media (max-width: 450px) and (min-width: 300px){
    proj {
        position: relative;
        display: block;
        font-size: 12px;
        margin-top: 20px;
    }

    #content-project {
        left: 40px;
        top: 10px;
    }

    proj cate, proj img, proj title, proj date, proj descrip, proj usage, proj detail {
        left: 0px;
        width: 240px;
    }

    proj item {
        display: block;
        position: relative;
        margin-top: 50px;
        top: -50px;
        left: 10px;
    }

    proj cate {
        font-size: 25px;
        margin: 0;
    }

    proj date {
        top: 60px;
    }

    proj img {
        top: 65px;
        max-width: 70px;
        max-height: 70px;
    }

    proj descrip {
        top: 20px;
    }

    proj title{
        font-size: 15px;
        letter-spacing: 1px;
        top: -95px;
    }

    proj detail {
        top: 25px;
    }



}
